@import "tailwindcss";

@keyframes line-grid-move {
  0% {
    background-position: 79px 79px;
  }
  100% {
    background-position: 239px 239px;
  }
}

.animate-line-grid-move {
  animation: line-grid-move 60s linear infinite;
}

@keyframes line-mask-move {
  0% {
    background-position: -0.2px -0.2px;
  }
  100% {
    background-position: 159.8px 159.8px;
  }
}

.animate-line-mask-move {
  animation: line-mask-move 60s linear infinite;
}

@keyframes dot-grid-move {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 160px 160px;
  }
}

.animate-dot-grid-move {
  animation: dot-grid-move 60s linear infinite;
}

.scanlines {
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05) 1px,
    transparent 2px,
    transparent 3px
  );
}

@utility diagonal-cut-* {
  clip-path: polygon(
    0% --value(integer) px,
    --value(integer) px 0%,
    100% 0%,
    100% calc(100% - --value(integer) px),
    calc(100% - --value(integer) px) 100%,
    0 100%
  );
}
